@model ES_CapDien.Models.DataObservationViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Báo cáo dữ liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageScripts{
    <script type="text/javascript">

        function deleteVtu(e) {
            swal({
                title: 'Bạn có chắc chắn muốn xóa ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Accept',
                cancelButtonText: 'Cancel',
            }).then((result) => {
                if (result.value) {
                    var id = "Page_" + e;
                    var button = $("#" + id);
                    button.click();
                }
            })
        };
        function DeleteSelect() {
            var selectedIds = new Array();
               $('#areas-list input[type="checkbox"]:checked').each(function () {
                selectedIds.push($(this).attr('value'));
            });
              swal({
                title: 'Bạn có chắc chắn muốn xóa ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Accept',
                cancelButtonText: 'Cancel',
              }).then((result) => {
                  if (result.value) {
                       $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@Html.Raw(Url.Action("DeleteSelected"))",
                        data: { ids: selectedIds },
                           complete: function (data) {
                              $("#loadmesenger").load('@(Url.Action("_MessagePartial"))');
                               $('#point-form').submit();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        },
                        traditional: true
            });
                  }
              })
        };
        var runSelect2 = function () {
            $(".search-select").select2({
                placeholder: "Choose something",
                allowClear: true
            });
        };
        function LoadSite(areaId) {
             $.ajax({
                    type: "GET",
                    url: '/Data/GetListSiteByAreaID',
                    data: { areaId: areaId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (resuilt) {
                        $("#lstSite").html(resuilt);
                    },
                    error: function () {
                    }
              });
        }
        runSelect2();
        function submitform() {
            $("#btn_Submit").click();
        };
        function submitValue(value) {
            $("#pageSize").val(value);
            submitform();
        };
    </script>
    <script type="text/javascript">
        //https://eonasdan.github.io/bootstrap-datetimepicker/#date-only
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A',
                locale: 'vi',
            });
        });
    </script>
}
<div class="col-md-12">    
    <div id="loadmesenger">
        @Html.Partial("~/Views/Shared/_MessagePartial.cshtml")
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            <strong>Báo cáo dữ liệu</strong>
            <div class="panel-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("ExportExel","Data", new {siteID= Request.Params["siteID"],fromDate= Request.Params["fromDate"], toDate=Request.Params["toDate"] })">
                    <i class="fa fa-plus"></i>
                    Xuất excel
                </a>
                <p class="btn btn-xs btn-link panel-expand1">
                    <i class="fa fa-resize-full"></i>
                </p>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Management", "Data", FormMethod.Get, new { id = "point-form" }))
            {
                <input type="hidden" id="pageSize" name="pageSize" value="@Request.Params["pageSize"]" />
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-lg-3 form-horizontal">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">
                                Khu vực
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control search-select" id="areaID" name="areaID" onchange="LoadSite(this.value)">
                                    <option value="">--- Khu vực ---</option>
                                    @if (ViewBag.lstKhuVuc != null)
                                    {
                                        foreach (var item in ViewBag.lstKhuVuc)
                                        {
                                            if (item.Id.ToString() == Request.Params["areaID"])
                                            {
                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 form-horizontal">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">
                                Trạm
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control search-select" id="lstSite" name="siteID">
                                    <option value="">--- Trạm ---</option>
                                    @if (ViewBag.lstTram != null)
                                    {
                                        foreach (var item in ViewBag.lstTram)
                                        {

                                            if (item.Id.ToString() == Request.Params["siteID"])
                                            {
                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }


                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-3 col-sm-3 col-lg-3 form-horizontal">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">
                                Bước
                            </label>
                            <input type="text" name="buoc" value="@Request.Params["buoc"]" />
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-3 form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">
                                Từ ngày
                            </label>
                            <div class="col-sm-9">
                                <div class='input-group'>
                                    <input type='text' name="fromDate" class="form-control datetimepicker" autocomplete="off" data-date-viewmode="years" onchange="check_date(this)" value="@(Model.From ==null ? " ": Model.From.Value.ToString())" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">
                                Đến ngày
                            </label>
                            <div class="col-sm-9">
                                <div class='input-group'>
                                    <input type='text' name="toDate" class="form-control datetimepicker" autocomplete="off" data-date-viewmode="years" onchange="check_date(this)" value="@(Model.To ==null ? " ": Model.To.Value.ToString())" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 form-horizontal">
                        <button class="btn btn-primary fill-data-cus" type="submit" id="btn_Submit">
                            <i class="clip-search-2"></i>Lọc dữ liệu
                        </button>
                    </div>
                </div>
            }
            <hr />
            <table class="table table-striped table-bordered table-hover table-full-width" id="areas-list">
                <thead>
                    <tr>
                        <th class="center">STT</th>
                        <th class="center">Trạm</th>
                        <th class="center">Thời gian</th>
                        <th class="center">Nhiệt độ môi trường (oC)</th>                        
                        <th class="center">Độ ẩm môi trường (%)</th>
                        <th class="center">Tốc độ gió</th>
                        <th class="center">Hướng gió</th>
                        <th class="center">Áp suất KQ (hPA)</th>
                        <th class="center">Lượng mưa (mm)</th>
                        <th class="center">Mực nước (m)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DataO)
                    {
                        <tr>
                            <td class="center">@(Model.DataO.ToList().IndexOf(item) + 1)</td>
                            <td class="center">@item.NameSite</td>
                            <td>@item.DateCreate</td>
                            <td>@item.BTI</td>                            
                            <td>@item.BHU</td>
                            <td>@item.BWS</td>
                            <td>@item.BAP</td>
                            <td>@item.BAV</td>
                            <td>@item.BAC</td>
                            <td>@item.BAF</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-5">
                    <div id="sample_1_info" class="dataTables_info">
                        <label>
                            Page @Model.PagingInfo.CurrentPage  total @Model.PagingInfo.TotalPages Pages.
                            <select class="form-control search-select" style="width: 70px;" onchange="submitValue(this.value);" name="pageSize">
                                @foreach (var item in @ViewBag.PageSizes)
                                {
                                    if (item.ToString() == Request.Params["pageSize"])
                                    {
                                        <option value="@item" selected="selected">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            dòng
                        </label>
                    </div>
                </div>
                <div class="col-md-7">
                    @Html.PagedListPager((PagedList.IPagedList)Model.DataO, page => Url.Action("Management", new { page, pageSize = Request.Params["pageSize"], siteID = Request.Params["siteID"], fromDate = Request.Params["fromDate"], buoc = Request.Params["buoc"] }))
                </div>
            </div>
        </div>
    </div>
</div>



