@model ES_CapDien.Models.PointViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Point management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageScripts{
    <script type="text/javascript">
        function deleteVtu(e) {
            swal({
                title: 'Do you want to delete ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Accept',
                cancelButtonText: 'Cancel',
            }).then((result) => {
                if (result.value) {
                    var id = "Page_" + e;
                    var button = $("#" + id);
                    button.click();
                }
            })
        };
           function DeleteSelect() {
            var selectedIds = new Array();
               $('#point-list input[type="checkbox"]:checked').each(function () {
                selectedIds.push($(this).attr('value'));
            });
              swal({
                title: 'Do you want to delete ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Accept',
                cancelButtonText: 'Cancel',
              }).then((result) => {
                  if (result.value) {
                       $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@Html.Raw(Url.Action("DeleteSelected"))",
                        data: { ids: selectedIds },
                           complete: function (data) {
                              $("#loadmesenger").load('@(Url.Action("_MessagePartial"))');
                               $('#point-form').submit();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        },
                        traditional: true
            });
                  }
              })
        };
        var runSelect2 = function () {
            $(".search-select").select2({
                placeholder: "Choose something",
                allowClear: true
            });
        };
        runSelect2();
        function submitform() {
            $("#btn_Submit").click();
        };
        function submitValue(value) {
            $("#pageSize").val(value);
            submitform();
        };
    </script>
}
<div class="col-md-12">
    <div class="page-header">
        <div class="row">
            <div class="col-md-7">
                <h1 class="titlepageas"><a class="homcomback" href="/DashBoard/DashBoardManager"><img src="~/Images/home.png" /></a>Point management</h1>
            </div>
        </div>
    </div>
    <div id="loadmesenger">
        @Html.Partial("~/Views/Shared/_MessagePartial.cshtml")
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            <strong>Point table</strong>
            <div class="panel-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("Create","Point", new { id = 0,  page  = Request.Params["page"], pageSize = Request.Params["pageSize"], Search = Request.Params["Search"] })">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <a class="btn btn-danger btn-xs" onclick="DeleteSelect()">
                    <i class="fa fa-trash-o"></i>
                    Delete selects
                </a>
                <p class="btn btn-xs btn-link panel-expand1">
                    <i class="fa fa-resize-full"></i>
                </p>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Management", "Point", FormMethod.Get, new { id = "point-form" }))
            {
            }
            <hr />
            <table class="table table-striped table-bordered table-hover table-full-width" id="point-list">
                <thead>
                    <tr>
                        <th class="center"></th>
                        <th class="center">STT</th>
                        <th class="center">ID</th>
                        <th class="center">Site name</th>
                        <th class="center">Address</th>
                        <th class="center">Install date</th>                       
                        <th class="center">function</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pts)
                    {
                    <tr>
                        <td align="center">
                            <div class="checkbox-table">
                                <label>
                                    <input type="checkbox" value='@item.Id' class="flat-grey checkboxGroups">
                                </label>
                            </div>
                        </td>
                        <td class="center">@(Model.Pts.ToList().IndexOf(item) + 1)</td>
                        <td>@item.Id</td>
                        <td>@item.SiteName</td>
                        <td>@item.Address</td>
                        <td class="center">@item.InstallDate</td>
                        <td class="center">
                            <div>
                                <a href="@Url.Action("Update", new { id = item.Id, page  = Request.Params["page"], pageSize = Request.Params["pageSize"], Search = Request.Params["Search"] })" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Update"><i class="fa fa-edit"></i></a>
                                <a href="#" onclick="deleteVtu(@item.Id)" class="btn btn-xs btn-bricky tooltips"><i class="fa fa-times fa fa-white"></i></a>
                                <div style="display: none;">
                                    @using (Html.BeginForm("Delete", "Point", new { id = item.Id, page = Request.Params["page"], pageSize = Request.Params["pageSize"], Search = Request.Params["Search"] }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input id="Page_@item.Id" class="btn btn-xs btn-bricky tooltips" type="submit" value="Delete" />
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-5">
                    <div id="sample_1_info" class="dataTables_info">
                        <label>
                            Page @Model.PagingInfo.CurrentPage  total @Model.PagingInfo.TotalPages Pages.
                            <select class="form-control search-select" style="width: 70px;" onchange="submitValue(this.value);" name="pageSize">
                                @foreach (var item in @ViewBag.PageSizes)
                                {
                                    if (item.ToString() == Request.Params["pageSize"])
                                    {
                                        <option value="@item" selected="selected">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            dòng
                        </label>
                    </div>
                </div>
                <div class="col-md-7">
                    @Html.PagedListPager((PagedList.IPagedList)Model.Pts, page => Url.Action("Management", new { page, pageSize = Request.Params["pageSize"], Search = Request.Params["Search"] }))
                </div>
            </div>
        </div>
    </div>
</div>

